body {
  font-family: "Source Sans Pro", sans-serif;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
input[type="radio"] {
  margin-right: 5px;
}
input {
  border: none;
  font-weight: 600;
  outline: none;
}
.address-2 {
  width: 146px;
  font-weight: 600;
}
.block2 {
  margin-bottom: 5%;
}
.next-step {
  margin-top: 5%;
}

.pl {
  padding-left: 12px;
}
/* BANNER SECTION  */
.back {
  margin-left: 15%;
  margin-top: 1%;
  font-weight: 600;
  font-style: 2rem;
  position: relative;
}
.back:hover {
  cursor: pointer;
  text-decoration: underline;
}
.arrow-back {
  position: relative;
}
.secure {
  margin-top: 1%;
  margin-right: 15%;
  font-weight: 600;
  font-style: 2rem;
}
/* HEADER SECTION  */
#header {
  margin-top: 5%;
  margin-bottom: 5%;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box {
  text-align: center;
  position: relative;
}
.box > p {
  font-weight: 600;
}
.step {
  display: flex;
  justify-content: center;
  align-items: center;
}
.step > span {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.3px solid black;
  border-radius: 100%;
  padding: 1% 1%;
  font-weight: 600;
}
label {
  padding-bottom: 10px;
  width: 150px;
}

/* BODY SECTION  */

.line {
  width: 200px;
  height: 3px;
  background-color: black;
}
.title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title-number {
  top: 15%;
  color: white;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  color: white;
}
.title-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
}
.title > h5 {
  padding-left: 10px;
  font-weight: 600;
}
.shipping-method {
  margin-top: 5%;
  margin-bottom: 5%;
}

.line-through {
  text-decoration: line-through;
}
.sale {
  color: red;
  font-weight: 600;
}
/* .wrapper2 {
  flex: 1;
} */
.address {
  display: flex;
}
@media (max-width: 768px) {
  .shipping-address {
    width: 100%;
  }
  .shipping-method {
    width: 100%;
    margin: 25px 0px;
  }
  .payment-method {
    width: 100%;
  }
}
@media (max-width: 1400px) {
  .box2 {
    margin-left: 25px;
    margin-right: 25px;
  }
  .box3 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 768px) {
  #header {
    display: none;
  }
  .wrapper2 {
    margin-top: 50px;
  }
}

.img {
  position: relative;
  top: 0;
  left: 0;
}

.cart-product-item {
  margin-top: 20px;
}
.text {
  margin: 0 20px;
}
.price2 {
  margin-left: 20px;
}
.border-input {
  border: 1px solid black;
}
@media (min-width: 768px) {
  .wrapper3 {
    float: right;
  }
}
@media (max-width: 768px) {
  .wrapper-responsive {
    display: block !important;
  }
  .wrapper3 {
    margin-top: 50px;
  }
}
.card-product-header {
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 4%;
}
.circle-green {
  background: #7aff77;
}
.circle-cyan {
  background: #25bdb0;
}
.circle-pink {
  background: #ffc0cb;
}
.circle-black {
  background: #0c0c0c;
}
.circle-blue {
  background: #77beff;
}
.circle-red {
  background: red;
}
.circle-border {
  border: 1px solid black;
}
.footer-modal {
  margin-bottom: 25px;
}
.modal-header {
  border: none;
}
.color {
  margin-top: 20px;
}

.quantity {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#quantity {
  border-radius: 25px;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  width: 175px;
}
/* BODY SECTION  */

.add-or-delete {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.number {
  font-size: 20px;
}

.icon-minus {
  display: flex;
  transform: translateY(-50%);
  position: absolute;
  height: 100%;
  top: 50%;
  left: 10px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.icon-plus {
  display: flex;
  transform: translateY(-50%);
  position: absolute;
  height: 100%;
  top: 50%;
  right: 10px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

form {
  position: relative;
}
/* END BODY SECTION  */
.color {
  font-weight: 600;
}
.Purchase-successful {
  display: none;
  justify-content: center;
  align-items: center;
}
.Purchase-wrapper {
  text-align: left;
}
.Purchase-wrapper h2 {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}
.Purchase-wrapper p {
  line-height: 30px;
}
.image-purchase-successful {
  text-align: center;
  display: none;
  margin-top: 200px;
}
.back-to-homepage {
  display: none;
  text-align: center;
  margin-top: 25px;
}
.btn-confirm {
  margin-left: 15px;
}

.Cart-Empty {
  margin-top: 500px;
  text-align: center;
  font-weight: 600;
  display: none;
}

.Cart-Empty a {
  color: #ff0000;
}
