* {
  margin: 0;
  padding: 0;
}
img {
  width: 631px;
  height: 631px;
  opacity: 1;
}
.line2 .img5:hover {
  transform: scale(1.5);

 
  /* -webkit-transform: translateY(100%);
            transform: translateY(100%); */
}

.line1 .img1:hover {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.line1 .img2:hover {
  -webkit-transform: translate(0, 15%);
  transform: translate(0, 15%);
}
.line1 .img3:hover{
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.line2 .img4{
    opacity: 0.5;
}
.line2 .img4:hover{
    opacity: 1;
}
.line2 .img6:hover{
    transform: skew(-10deg);
}
.line3 .img7:hover{
    transform: rotateX(40deg);
}
.line3 .img8:hover{
    transform: scaleX(1.2);
}
.line3 .img9:hover{
    transform: scaleY(1.5);
}