body {
  font-family: "Source Sans Pro", sans-serif;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
/* ------------------------------------------------------- */

/* HEADER SECTION  */

/* SECTION NAVBAR  */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

/* SECTION CAROUSEL  */
.carousel-indicators {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

/* SECTION NEW ARRIVAL  */
.newArrival {
  display: flex;
  justify-content: space-between;
  background: rgba(51, 51, 51, 0.199);
}
.arrival {
  padding: 2% 1% 0.5%;
  line-height: 10%;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 17px;
  color: #333;
}
.arrival a {
  color: #333;
}

/* SECTION BODY  */
.sub-title {
  text-align: center;
  font-weight: 900;
}
/* NEW PRODUCT  */
.line-through {
  text-decoration: line-through;
}
.sale {
  color: red;
}
.right {
  width: 50%;
}
.circle {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 4%;
}
.circle-green {
  background: #7AFF77;
}
.circle-cyan {
  background: #25BDB0;
}
.circle-pink {
  background: #FFC0CB;
}
.circle-black {
  background: #0C0C0C;
}
.circle-blue {
  background: #77BEFF;
}


/* newsletters  */
.sign-up-newsletters {
  background: #C4C4C4;;
}
.sign-up-newsletters h2 {
  padding-top: 3%;
}
.desc {
  text-align: center;
}
.form{
  height: 50px;
}
.form > input {
  width: 40%;
  height: 100%;
}
.form > button {
  height: 100%;
  width: 20%;
}
.logo {
  text-align: center;
}
.press-logo {
  margin: 1%;
}
/* end newsletters  */

/* SECTION FOOTER  */

.container-footer {
  display: flex;
  justify-content: space-between;
}