body {
  font-family: "Source Sans Pro", sans-serif;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #4e545c;
}
.dropdown-item:active {
  background-color: #212529;
  color: white;
}
/* ------------------------------------------------------- */

/* HEADER SECTION  */
/* SECTION NAVBAR  */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

/* SECTION CAROUSEL  */
.carousel-indicators {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

/* SECTION NEW ARRIVAL  */
.newArrival {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(51, 51, 51, 0.199);
}
.newArrival p {
  margin: 0;
}
.arrival {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 17px;
  color: #333;
}
.arrival a {
  color: #333;
}

/* SECTION BODY  */
#body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-title {
  text-align: center;
  font-weight: 900;
}
/* NEW PRODUCT  */
.line-through {
  text-decoration: line-through;
}
.sale {
  color: red;
}
.right {
  width: 50%;
}
.circle {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 4%;
}
.circle-green {
  background: #7aff77;
}
.circle-cyan {
  background: #25bdb0;
}
.circle-pink {
  background: #ffc0cb;
}
.circle-black {
  background: #333;
}
.circle-blue {
  background: #77beff;
}
.circle-orange {
  background: #ff9f45;
}
.circle-violet {
  background: violet;
}
.cicle-slateblue {
  background: slateblue;
}
.circle-yellow {
  background: yellow;
}
.circle-violet {
  background: #ee82ee;
}
.circle-subBlue {
  background: skyblue;
}
.circle-white {
  background: none;
}
.circle-tomato {
  background: tomato;
}
.circle-red {
  background: red;
}
/* newsletters  */
#newsletters {
  background: #c4c4c4;
}
.sign-up-newsletters h2 {
  padding-top: 3%;
}
.desc {
  text-align: center;
}
.form {
  height: 50px;
}
.form > input {
  width: 40%;
  height: 100%;
  margin-right: 1%;
  padding-left: 15px;
}
.form > button {
  height: 100%;
  width: 30%;
}
.logo {
  text-align: center;
}
.press-logo {
  margin: 1%;
}
/* end newsletters  */

/* SECTION FOOTER  */
#footer {
  background: #0c0c0c;
}
.wrapper {
  text-align: center;
  color: white;
  padding: 0% 2% 1%;
  width: 100%;
}
.wrapper p {
  line-height: 20px;
}
.subTitle {
  font-weight: 600;
}
@media (min-width: 1200px) {
  .card {
    margin: 0px;
  }
}
@media (min-width: 992px) {
  .wrapper p {
    line-height: 10px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.card p {
  font-weight: 600;
}
.card-header {
  padding: 0px;
  margin: 0.5rem 1rem;
  overflow: hidden;
}
.card-header img:hover {
  transform: scale(1.1);
  transition: 0.35s linear all;
  cursor: pointer;
}
@media (max-width: 768px) {
  .row > * {
    width: auto;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrival {
    font-size: 13px;
  }
  .sub-title {
    margin: 20px 0px 10px !important;
  }
  .new-product {
    margin: 20px 0px !important;
  }
  .email {
    width: 100% !important;
  }
}
@media (max-width: 992px) {
  .dropdown-menu {
    background-color: #212529;
  }
  .dropdown-menu a {
    color: white;
  }
}
.cart {
  position: relative;
}
.quantity {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: white;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
