body {
  font-family: "Source Sans Pro", sans-serif;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: black;
}

/* Header Section  */
h6 {
  font-weight: 600;
}
p {
  margin-bottom: 0;
}
/* HEADER SECTION  */
/* SECTION NAVBAR  */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}
.line-through {
  text-decoration: line-through;
}
.sale {
  color: red;
}
#box {
  width: 400px;
  padding: 40px;
  background: #e74c3c;
  text-align: center;
  color: #fff;
  display: block;
}
.banner > img {
  width: 100%;
  height: 10%;
}
.sort {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  position: relative;
  background-color: white;
}
.feature {
  position: absolute;
  top: 10px;
  left: 25px;
}
.down {
  position: absolute;
  right: 20px;
  top: 15px;
}
.menu {
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 5;
  width: 200px;
  background: white;
  border: 1px solid black;
  display: none;
}
.sub-menu:hover {
  color: white;
  background: black;
  cursor: pointer;
}
.filter {
  margin-top: -38px;
}
.filter-row {
  width: 375px;
  position: relative;
}
.filter-box {
  position: relative;
}
.filter-line {
  background: #56cfe1;
  width: 190px;
  height: 2.5px;
}
.title-filter-price {
  margin-bottom: 40px;
}
.filter-line::before {
  content: "";
  position: absolute;
  top: -12.5px;
  left: 0;
  background: #56cfe1;
  width: 4px;
  height: 25px;
}
.filter-line::after {
  content: "";
  position: absolute;
  top: -12.5px;
  right: 0;
  background: #56cfe1;
  width: 4px;
  height: 25px;
}
.filter-price {
  margin-top: 5px;
}
.size {
  min-height: 260px;
}
.col1::before {
  content: "";
  height: 260px;
  width: 2px;
  background-color: black;
  position: absolute;
  top: 40px;
  left: 200px;
}
/* List Products  */
.card-header img:hover {
  transform: scale(1.05);
  transition: 0.35s linear all;
  cursor: pointer;
}
.title > h2 {
  font-weight: 600;
}

.right {
  width: 50%;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 4%;
}
.circle-green {
  background: #7aff77;
}
.circle-cyan {
  background: #25bdb0;
}
.circle-pink {
  background: #ffc0cb;
}
.circle-black {
  background: #0c0c0c;
}
.circle-blue {
  background: #77beff;
}
.circle-red {
  background: red;
}

/* End List Products  */
/* Pagination  */
.page-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Pagination  */

/* newsletters  */
#newsletters {
  background: #c4c4c4;
}
.sign-up-newsletters h2 {
  padding-top: 3%;
}
.desc {
  text-align: center;
}
.form {
  height: 50px;
}
.form > input {
  width: 40%;
  height: 100%;
  padding-left: 15px;
}
.form > button {
  height: 100%;
  width: 20%;
}
.logo {
  text-align: center;
}
.press-logo {
  margin: 1%;
}
/* end newsletters  */

/* SECTION FOOTER  */
#footer {
  background: #0c0c0c;
}
.wrapper {
  text-align: center;
  color: white;
  padding: 0% 2% 1%;
  width: 100%;
}
.wrapper p {
  line-height: 20px;
}
.subTitle {
  font-weight: 600;
}
.sub-title {
  font-weight: 900;
  text-align: center;
}

/* newsletters  */
#newsletters {
  background: #c4c4c4;
}
.sign-up-newsletters h2 {
  padding-top: 3%;
}
.desc {
  text-align: center;
}
.form {
  height: 50px;
}
.form > input {
  width: 40%;
  height: 100%;
  margin-right: 1%;
}
.form > button {
  height: 100%;
  width: 30%;
}
.logo {
  text-align: center;
}
.press-logo {
  margin: 1%;
}
/* end newsletters  */

/* SECTION FOOTER  */
#footer {
  background: #0c0c0c;
}
.wrapper {
  text-align: center;
  color: white;
  padding: 0% 2% 1%;
  width: 100%;
}
.wrapper p {
  line-height: 20px;
}
.subTitle {
  font-weight: 600;
}
@media (min-width: 1200px) {
  .card {
    margin: 0px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .container > .title {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.card p {
  font-weight: 600;
}

@media (max-width: 768px) {
  .row > * {
    width: auto;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filter {
    display: none;
  }
  #sort {
    display: none;
  }
  .title > h3 {
    display: none;
  }

  .title {
    text-align: center;
  }
}
.filter-row {
  display: none;
}
button {
  background: #fff;
}
.page-item a {
  color: black;
}
.page-item:nth-child(2) a {
  font-weight: 700;
}
@media (max-width: 992px) {
  .dropdown-menu {
    background-color: #212529;
  }
  .dropdown-menu a {
    color: white;
  }
}
.dropdown-item:active {
  background-color: #212529;
  color: white;
}
@media (max-width: 768px) {
  .email {
    width: 100% !important;
  }
}

.cart {
  position: relative;
}
.quantity {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: white;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
